<!DOCTYPE html>
<html lang="en" dir="ltr"
    prefix="content: http://purl.org/rss/1.0/modules/content/ dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rdfs: http://www.w3.org/2000/01/rdf-schema# schema: http://schema.org/ sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core# xsd: http://www.w3.org/2001/XMLSchema# ">

<head>
    <meta charset="utf-8" />
    <script src="index.2.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <noscript>
        <style>
            form.antibot * :not(.antibot-message) {
                display: none !important;
            }
        </style>
    </noscript>
    <style>
        .js img.lazyload:not([src]) {
            visibility: hidden;
        }

        .js img.lazyloaded[data-sizes=auto] {
            display: block;
            width: 100%;
        }
    </style>
    <meta name="description"
        content="Application QuestionnairePlease ensure you read this entire page before submitting your Application Questionnaire.The following applies only if you receive communication from the…" />
    <link rel="canonical"
        href="https://www.georgebrown.ca/programs/g418-web-development-front-end-design-supplementary-requirements" />
    <link rel="shortlink" href="https://www.georgebrown.ca/node/76096" />
    <meta name="rights" content="Copyright ©2023 George Brown College. All rights reserved." />
    <meta property="og:site_name" content="George Brown College" />
    <meta property="og:url"
        content="https://www.georgebrown.ca/programs/g418-web-development-front-end-design-supplementary-requirements" />
    <meta property="og:title" content="G418 Web Development - Front-End Design Supplementary Requirements" />
    <meta property="og:description"
        content="Application QuestionnairePlease ensure you read this entire page before submitting your Application Questionnaire.The following applies only if you receive communication from the…" />
    <meta property="og:image" content="https://www.georgebrown.ca/sites/default/files/images/icons/GBC_Logo.jpg" />
    <meta property="og:updated_time" content="2020-09-16T14:59:18-04:00" />
    <meta property="article:published_time" content="2020-09-16T13:37:22-04:00" />
    <meta property="article:modified_time" content="2020-09-16T14:59:18-04:00" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="G418 Web Development - Front-End Design Supplementary Requirements" />
    <meta name="twitter:description"
        content="Application QuestionnairePlease ensure you read this entire page before submitting your Application Questionnaire.The following applies only if you receive communication from the…" />
    <meta name="twitter:url"
        content="https://www.georgebrown.ca/programs/g418-web-development-front-end-design-supplementary-requirements" />
    <meta name="Generator" content="Drupal 9 (https://www.drupal.org)" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/themes/custom/de_theme/src/img/favicons/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="alternate" hreflang="en"
        href="https://www.georgebrown.ca/programs/g418-web-development-front-end-design-supplementary-requirements" />
    <script src="/sites/default/files/google_tag/gbc_main/google_tag.script.js?ryyiir" defer></script>
    <title>G418 Web Development - Front-End Design Supplementary Requirements | George Brown College</title>
    <script defer src="https://kit.fontawesome.com/e1938b0e3f.js" crossorigin="anonymous"></script>
    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Oswald:400,600,700&display=swap');
    </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" media="all"
        href="/sites/default/files/css/css_2Is4uMP6N5l50Ty7RWwE5B1NFkm2MtEEFVbdEAreSNw.css" />
    <link rel="stylesheet" media="all"
        href="/sites/default/files/css/css_6B-AhmjdspDejTg0DrAhy3ja1dAX7X6cMKsdctNNTTg.css" />
    <script src="/core/assets/vendor/modernizr/modernizr.min.js?v=3.11.7"></script>
    <script src="/core/misc/modernizr-additional-tests.js?v=3.11.7"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/themes/custom/de_theme/src/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/themes/custom/de_theme/src/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/themes/custom/de_theme/src/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/themes/custom/de_theme/src/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="/themes/custom/de_theme/src/img/favicons/safari-pinned-tab.svg" color="#005aa5">
    <link rel="shortcut icon" href="/themes/custom/de_theme/src/img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#005aa5">
    <meta name="msapplication-config" content="/themes/custom/de_theme/src/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#005aa5">
    <link rel="stylesheet" href="index.2.css">
</head>

<body class="context-main one-sidebar sidebar-first path-node node--type-webform">
    <div id="main" class="column"> <a id="main-content" tabindex="-1"></a>
        <div class="layout-content">
            <div class="region region--content clearfix" id="content">
                <div id="block-de-theme-content" class="block block-system block-system-main-block">
                    <article role="article"
                        about="/programs/g418-web-development-front-end-design-supplementary-requirements"
                        class="node node--type-webform node--view-mode-full">
                        <div class="node__content">
                            <div
                                class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__items">
                                <div class="field__item">
                                    <h2>Application Questionnaire</h2>
                                    <h3>Please ensure you read this entire page before submitting your
                                        Application Questionnaire.</h3>
                                    <p>The following applies only if you receive communication from the
                                        College stating that you are being considered for the next stage
                                        of the admission process (the divisional select process).</p>
                                    <p>In order to evaluate your application for final admission, you
                                        are asked to complete the Application Questionnaire form below.
                                        Qualified applicants may also be invited for an interview.</p>
                                    <h4>Application Questionnaire Instructions</h4>
                                    <p>Complete the Application Questionnaire form below. It focuses on
                                        queries related to past development experiences and software
                                        applications the applicant is familiar with and comfortable
                                        working in. The questionnaire is designed to describe your
                                        future career objectives and intentions in the program. It
                                        provides information to assist the Academic Review Committee in
                                        assessing your potential for success in the program.</p>
                                    <p>The Application Questionnaire is to be completed solely by the
                                        applicant and should be written in English.</p>
                                    <h4>Results</h4>
                                    <p>Your confidential results will be submitted by the School of
                                        Design to the Admissions Office upon review of your Application
                                        Questionnaire. The Admissions Office will then make a decision
                                        on your application and you will receive notification via email
                                        and by mail if you are successful. Please allow at least a week
                                        for the review and submission of your results to the Admissions
                                        Office. Please check <a
                                            href="https://stuview.georgebrown.ca/"><b>stuview.georgebrown.ca</b></a>
                                        (application summary page) for an update on your status. If you
                                        do receive an offer of admission, you should accept it on <a
                                            href="https://www.ontariocolleges.ca/home"><b>ontariocolleges.ca</b></a>
                                        as soon as possible to reserve your seat in the program.</p>
                                </div>
                            </div>
                            <div class="field field--name-webform field--type-webform field--label-hidden field__item">
                                <form
                                    class="webform-submission-form webform-submission-add-form webform-submission-g418-web-development-front-end-d-form webform-submission-g418-web-development-front-end-d-add-form webform-submission-g418-web-development-front-end-d-node-76096-form webform-submission-g418-web-development-front-end-d-node-76096-add-form js-webform-details-toggle webform-details-toggle antibot"
                                    data-drupal-selector="webform-submission-g418-web-development-front-end-d-node-76096-add-form"
                                    data-action="/programs/g418-web-development-front-end-design-supplementary-requirements"
                                    action="/antibot" method="post"
                                    id="webform-submission-g418-web-development-front-end-d-node-76096-add-form"
                                    accept-charset="UTF-8"> <noscript>
                                        <div class="antibot-no-js antibot-message antibot-message-warning">
                                            You must have JavaScript enabled to use this form.</div>
                                    </noscript>
                                    <fieldset data-drupal-selector="edit-applicant-information"
                                        id="edit-applicant-information"
                                        class="js-webform-type-fieldset webform-type-fieldset js-form-item form-item js-form-wrapper form-wrapper">
                                        <legend> <span class="fieldset-legend">Section 1: Personal and Contact
                                                Information</span></legend>
                                        <div class="fieldset-wrapper">
                                            <div
                                                class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-name form-item-name">
                                                <label for="edit-name" class="js-form-required form-required">First
                                                    Name*</label>
                                                <input data-drupal-selector="edit-name" type="text" id="edit-name"
                                                    name="name" value="" size="40" maxlength="255"
                                                    class="form-text required" required="required"
                                                    aria-required="true" />
                                                <label for="edit-name" class="js-form-required form-required">Middle
                                                    Name</label>
                                                <input data-drupal-selector="edit-name" type="text" id="edit-name"
                                                    name="name" value="" size="40" maxlength="255" />
                                                <label for="edit-name" class="js-form-required form-required">Last
                                                    Name*</label>
                                                <input data-drupal-selector="edit-name" type="text" id="edit-name"
                                                    name="name" value="" size="40" maxlength="255"
                                                    class="form-text required" required="required"
                                                    aria-required="true" />
                                            </div>
                                            <div
                                                class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-name form-item-name">
                                                <label for="edit-name" class="js-form-required form-required">Preferred
                                                    Name</label>
                                                <input data-drupal-selector="edit-name" type="text" id="edit-name"
                                                    name="name" value="" size="40" maxlength="255" />
                                                <label for="edit-gbc-student-id"
                                                    class="js-form-required form-required">GBC Student
                                                    ID*</label> <input data-drupal-selector="edit-gbc-student-id"
                                                    type="number" id="edit-gbc-student-id" name="gbc_student_id"
                                                    value="" step="any" class="form-number required" required="required"
                                                    aria-required="true" />
                                            </div>
                                            <fieldset data-drupal-selector="edit-phone" id="edit-phone--wrapper"
                                                class="webform-telephone--wrapper fieldgroup form-composite webform-composite-visible-title required js-webform-type-webform-telephone webform-type-webform-telephone js-form-item form-item js-form-wrapper form-wrapper">
                                                <legend> <span
                                                        class="fieldset-legend js-form-required form-required">Address</span>
                                                </legend>
                                                <div class="fieldset-wrapper">
                                                    <div
                                                        class="js-form-item form-item js-form-type-tel form-type-tel js-form-item-phone-phone form-item-phone-phone form-no-label">
                                                        <label for="edit-phone-phone"
                                                            class="visually-hidden js-form-required form-required">Address
                                                            Line 1</label>
                                                        <input
                                                            class="js-webform-telephone-international webform-webform-telephone-international form-tel required"
                                                            data-drupal-selector="edit-phone-phone" type="tel"
                                                            id="edit-phone-phone" name="phone[phone]" value="" size="30"
                                                            maxlength="128" required="required" aria-required="true" />
                                                    </div>
                                                    <div
                                                        class="js-form-item form-item js-form-type-number form-type-number js-form-item-phone-ext form-item-phone-ext">
                                                        <label for="edit-phone-ext">Address Line 2</label> <input
                                                            data-drupal-selector="edit-phone-ext" type="number"
                                                            id="edit-phone-ext" name="phone[ext]" value="" step="any"
                                                            min="0" size="5" class="form-number" />
                                                    </div>
                                                    <div
                                                        class="js-form-item form-item js-form-type-number form-type-number js-form-item-phone-ext form-item-phone-ext">
                                                        <label for="edit-phone-ext">City*</label> <input
                                                            data-drupal-selector="edit-phone-ext" type="number"
                                                            id="edit-phone-ext" name="phone[ext]" value="" step="any"
                                                            min="0" size="5" class="form-number" />
                                                        <label for="edit-phone-ext">Province or Territory *</label>
                                                        <input data-drupal-selector="edit-phone-ext" type="number"
                                                            id="edit-phone-ext" name="phone[ext]" value="" step="any"
                                                            min="0" size="5" class="form-number" />
                                                        <label for="edit-phone-ext">Country*</label> <input
                                                            data-drupal-selector="edit-phone-ext" type="number"
                                                            id="edit-phone-ext" name="phone[ext]" value="" step="any"
                                                            min="0" size="5" class="form-number" />
                                                        <label for="edit-phone-ext">Postal Code*</label> <input
                                                            data-drupal-selector="edit-phone-ext" type="number"
                                                            id="edit-phone-ext" name="phone[ext]" value="" step="any"
                                                            min="0" size="5" class="form-number" />
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <fieldset data-drupal-selector="edit-phone" id="edit-phone--wrapper"
                                                class="webform-telephone--wrapper fieldgroup form-composite webform-composite-visible-title required js-webform-type-webform-telephone webform-type-webform-telephone js-form-item form-item js-form-wrapper form-wrapper">
                                                <legend> <span
                                                        class="fieldset-legend js-form-required form-required">Primary
                                                        Phone Number</span>
                                                </legend>
                                                <div class="fieldset-wrapper">
                                                    <div
                                                        class="js-form-item form-item js-form-type-tel form-type-tel js-form-item-phone-phone form-item-phone-phone form-no-label">
                                                        <label for="edit-phone-phone"
                                                            class="visually-hidden js-form-required form-required">+</label>
                                                        <input
                                                            class="js-webform-telephone-international webform-webform-telephone-international form-tel required"
                                                            data-drupal-selector="edit-phone-phone" type="tel"
                                                            id="edit-phone-phone" name="phone[phone]" value="" size="5"
                                                            maxlength="4" required="required" aria-required="true" />
                                                        <label for="edit-phone-ext"></label> <input
                                                            data-drupal-selector="edit-phone-ext" type="number"
                                                            id="edit-phone-ext" name="phone[ext]" value="" step="any"
                                                            min="0" size="5" class="form-number" />
                                                        <label for="edit-phone-ext">Preferred Contact
                                                            Hours</label>
                                                        <select name="levels" id="levels">
                                                            <option value="Blank"></option>
                                                            <option value="Bachelor">Morning 9-11am</option>
                                                            <option value="Master">Afternoon 2-5pm</option>
                                                            <option value="Doctorate">Evening 6-9pm</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <div
                                                class="js-form-item form-item js-form-type-email form-type-email js-form-item-email form-item-email">
                                                <label for="edit-email" class="js-form-required form-required">Email
                                                    Address*</label>
                                                <input data-drupal-selector="edit-email" type="email" id="edit-email"
                                                    name="email" value="" size="60" maxlength="254"
                                                    class="form-email required" required="required"
                                                    aria-required="true" />
                                            </div>
                                            <div id="wrapper">
                                                <label for="InternationalStudent">Are you an International Student?
                                                    *</label>
                                                <select name="I-Student" id="I-Student">
                                                    <option value="Blank"></option>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset data-drupal-selector="edit-educational-and-professional-background"
                                        id="edit-educational-and-professional-background"
                                        class="js-webform-type-fieldset webform-type-fieldset js-form-item form-item js-form-wrapper form-wrapper">
                                        <legend> <span class="fieldset-legend">Section 2: Educational and Professional
                                                Background</span></legend>
                                        <div class="fieldset-wrapper">
                                            <fieldset
                                                data-drupal-selector="edit-what-is-your-educational-background-list-both-institution-and-po"
                                                id="edit-what-is-your-educational-background-list-both-institution-and-po"
                                                class="js-webform-type-fieldset webform-type-fieldset js-form-item form-item js-form-wrapper form-wrapper">
                                                <div class="fieldset-wrapper">
                                                    <div
                                                        class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-high-school form-item-high-school">
                                                        <label for="EducationalLevel">Highest Educational Level*
                                                        </label>

                                                        <select name="levels" id="levels">
                                                            <option value="Blank"></option>
                                                            <option value="Bachelor">Bachelor</option>
                                                            <option value="Master">Master</option>
                                                            <option value="Doctorate">Doctorate</option>
                                                            <option value="Asso">Associate Degree</option>
                                                        </select>

                                                        <div class="field_wrapper">
                                                            <div class="education-section">
                                                                <button type="button" class="add-education">Add
                                                                    Educational Background</button>
                                                                <div class="content">
                                                                    <label for="institution">Institution *</label>
                                                                    <input type="text" id="institution"
                                                                        name="institution[]" value="" size="30"
                                                                        maxlength="255" class="form-text" />
                                                                    <label for="grad-year">Graduation Year *</label>
                                                                    <input type="text" id="grad-year" name="gradYear[]"
                                                                        value="" size="10" maxlength="4"
                                                                        class="form-text" />
                                                                    <label for="level">Level *</label>
                                                                    <select name="level[]" id="level">
                                                                        <option value="Blank"></option>
                                                                        <option value="Bachelor">Bachelor</option>
                                                                        <option value="Master">Master</option>
                                                                        <option value="Doctorate">Doctorate</option>
                                                                        <option value="Associate">Associate Degree
                                                                        </option>
                                                                    </select>
                                                                    <div>
                                                                        <label for="program">Program *</label>
                                                                        <input type="text" id="program" name="program[]"
                                                                            value="" size="30" maxlength="255"
                                                                            class="form-text" />
                                                                        <label for="major">Major *</label>
                                                                        <input type="text" id="major" name="major[]"
                                                                            value="" size="30" maxlength="255"
                                                                            class="form-text" />
                                                                    </div>
                                                                    <button type="button"
                                                                        class="delete-education">Delete</button>
                                                                </div>
                                                            </div>
                                                        </div>

                                </form>

                            </div>



                        </div>
                </div>
                </fieldset>
                <fieldset data-drupal-selector="edit-what-is-your-educational-background-list-both-institution-and-po"
                    id="edit-what-is-your-educational-background-list-both-institution-and-po"
                    class="js-webform-type-fieldset webform-type-fieldset js-form-item form-item js-form-wrapper form-wrapper">
                    <div class="fieldset-wrapper">
                        <div
                            class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-high-school form-item-high-school">
                            <label for="EducationalLevel">Years of Work Experience*
                            </label>
                            <select name="levels" id="levels">
                                <option value="Blank"></option>
                                <option value="Bachelor">0-1 Year</option>
                                <option value="Master">1-5 Years</option>
                                <option value="Doctorate">5-10 Years</option>
                                <option value="Asso">10 Years or Above</option>
                            </select>
                        </div>

                        <div class="fieldset-wrapper">

                            <button type="button" class="collapsible">Add Work
                                Experience</button>
                            <div class="content">
                                <label for="edit-other">Job Title *</label> <input data-drupal-selector="edit-other"
                                    type="text" id="edit-other" name="other" value="" size="30" maxlength="255"
                                    class="form-text" />
                                <label for="edit-other">Company *</label> <input data-drupal-selector="edit-other"
                                    type="text" id="edit-other" name="other" value="" size="10" maxlength="4"
                                    class="form-text" />
                                <label for="edit-other">Location</label> <input data-drupal-selector="edit-other"
                                    type="text" id="edit-other" name="other" value="" size="30" maxlength="255"
                                    class="form-text" />
                                <div>
                                    <label for="edit-other">From *</label> <input type="month" id="month">
                                    <label for="edit-other">To </label> <input type="month" id="month">
                                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                    <label for="vehicle1"> I currently work here</label><br>
                                    <label for="edit-list-the-program-s-you-graduated-from"
                                        class="js-form-required form-required">Role
                                        Description</label>
                                </div>
                                <div class="form-textarea-wrapper"><textarea
                                        data-drupal-selector="edit-list-the-program-s-you-graduated-from"
                                        id="edit-list-the-program-s-you-graduated-from"
                                        name="list_the_program_s_you_graduated_from" rows="5" cols="60"
                                        class="form-textarea required resize-vertical" required="required"
                                        aria-required="true"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

    </div>

    </div>
    </fieldset>
    <fieldset data-drupal-selector="edit-skills" id="edit-skills"
        class="js-webform-type-fieldset webform-type-fieldset js-form-item form-item js-form-wrapper form-wrapper">
        <legend> <span class="fieldset-legend">Section 3: Related Skills</span></legend>
        <fieldset data-drupal-selector="edit-what-is-your-educational-background-list-both-institution-and-po"
            id="edit-what-is-your-educational-background-list-both-institution-and-po"
            class="js-webform-type-fieldset webform-type-fieldset js-form-item form-item js-form-wrapper form-wrapper">
            <div class="fieldset-wrapper">
                <button type="button" class="collapsible">Add Programming Language
                </button>
                <div class="content">
                    <label for="edit-other">Programming Language 1*</label> <input data-drupal-selector="edit-other"
                        type="text" id="edit-other" name="other" value="" size="30" maxlength="255" class="form-text" />
                    <label for="edit-other">Proficiency *</label>
                    <select name="levels" id="levels">
                        <option value="Blank"></option>
                        <option value="Beginner">Beginner</option>
                        <option value="Intermediary">Intermediary</option>
                        <option value="Advanced">Advanced</option>
                    </select>
                </div>
                <div class="fieldset-wrapper">
                    <button type="button" class="collapsible">Add Frameworks
                    </button>
                    <div class="content">
                        <label for="edit-other">Frameworks 1*</label> <input data-drupal-selector="edit-other"
                            type="text" id="edit-other" name="other" value="" size="30" maxlength="255"
                            class="form-text" />
                        <label for="edit-other">Proficiency *</label>
                        <select name="levels" id="levels">
                            <option value="Blank"></option>
                            <option value="Beginner">Beginner</option>
                            <option value="Intermediary">Intermediary</option>
                            <option value="Advanced">Advanced</option>
                        </select>
                    </div>
                    <div class="fieldset-wrapper">
                        <button type="button" class="collapsible">Add Technologies
                        </button>
                        <div class="content">
                            <label for="edit-other">Technologies 1*</label> <input data-drupal-selector="edit-other"
                                type="text" id="edit-other" name="other" value="" size="30" maxlength="255"
                                class="form-text" />
                            <label for="edit-other">Proficiency *</label>
                            <select name="levels" id="levels">
                                <option value="Blank"></option>
                                <option value="Beginner">Beginner</option>
                                <option value="Intermediary">Intermediary</option>
                                <option value="Advanced">Advanced</option>
                            </select>
                        </div>
                        <div class="fieldset-wrapper">
                            <button type="button" class="collapsible">Add Design Software
                            </button>
                            <div class="content">
                                <label for="edit-other">Design Software 1*</label> <input
                                    data-drupal-selector="edit-other" type="text" id="edit-other" name="other" value=""
                                    size="30" maxlength="255" class="form-text" />
                                <label for="edit-other">Proficiency *</label>
                                <select name="levels" id="levels">
                                    <option value="Blank"></option>
                                    <option value="Beginner">Beginner</option>
                                    <option value="Intermediary">Intermediary</option>
                                    <option value="Advanced">Advanced</option>
                                </select>
                            </div>
                            <div class="fieldset-wrapper">
                                <button type="button" class="collapsible">Add Design Tools
                                </button>
                                <div class="content">
                                    <label for="edit-other">Design Tool 1*</label> <input
                                        data-drupal-selector="edit-other" type="text" id="edit-other" name="other"
                                        value="" size="30" maxlength="255" class="form-text" />
                                    <label for="edit-other">Proficiency *</label>
                                    <select name="levels" id="levels">
                                        <option value="Blank"></option>
                                        <option value="Beginner">Beginner</option>
                                        <option value="Intermediary">Intermediary</option>
                                        <option value="Advanced">Advanced</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div
                            class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-provide-a-list-of-the-programming-languages- form-item-provide-a-list-of-the-programming-languages-">
                            <label for="edit-provide-a-list-of-the-programming-languages-"
                                class="js-form-required form-required">Links to Portfolio (if
                                any)</label>
                            <div class="form-textarea-wrapper"><textarea
                                    data-drupal-selector="edit-provide-a-list-of-the-programming-languages-"
                                    id="edit-provide-a-list-of-the-programming-languages-"
                                    name="provide_a_list_of_the_programming_languages_" rows="1" cols="60"
                                    class="form-textarea required resize-vertical" required="required"
                                    aria-required="false"></textarea></div>
                        </div>
                        <div
                            class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-provide-a-list-of-the-design-software form-item-provide-a-list-of-the-design-software">
                            <label for="edit-provide-a-list-of-the-design-software"
                                class="js-form-required form-required">In a paragraph (or so),
                                provide an
                                overview of a
                                digital project you participated in (either for a client or a
                                personal
                                project).
                                Some ideas
                                of what you might include: client/person the project was for,
                                your role on
                                the
                                project, the
                                stated goals of the project, the overall outcome, how/why the
                                project was
                                impactful, what
                                technologies were used, what design methodologies were employed,
                                what
                                lessons
                                you learned,
                                and if/how the project is currently being used. *</label>
                            <div class="form-textarea-wrapper"><textarea
                                    data-drupal-selector="edit-provide-a-list-of-the-design-software"
                                    id="edit-provide-a-list-of-the-design-software"
                                    name="provide_a_list_of_the_design_software" rows="5" cols="60"
                                    class="form-textarea required resize-vertical" required="required"
                                    aria-required="true"></textarea></div>
                        </div>
                        <div
                            class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-provide-links-to-any-portfolios-or-social-media-accounts-that-be form-item-provide-links-to-any-portfolios-or-social-media-accounts-that-be">
                            <label for="edit-provide-links-to-any-portfolios-or-social-media-accounts-that-be">Provide
                                links to any portfolios or social media accounts
                                that best represent your work (ex: Github, Behance,
                                Codepen, Dribbble etc.)</label>
                            <div class="form-textarea-wrapper"><textarea
                                    data-drupal-selector="edit-provide-links-to-any-portfolios-or-social-media-accounts-that-be"
                                    id="edit-provide-links-to-any-portfolios-or-social-media-accounts-that-be"
                                    name="provide_links_to_any_portfolios_or_social_media_accounts_that_be" rows="5"
                                    cols="60" class="form-textarea resize-vertical"></textarea>
                            </div>
                        </div>
                        <div
                            class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-in-a-paragraph-or-so-provide-an-overview-of-a-digital-project form-item-in-a-paragraph-or-so-provide-an-overview-of-a-digital-project">
                            <label for="edit-in-a-paragraph-or-so-provide-an-overview-of-a-digital-project"
                                class="js-form-required form-required">Describe your personal
                                skills,
                                attributes
                                and
                                experiences. How will they assist you to succeed in the Web
                                Development -
                                Front-End Design
                                program. *</label>
                            <div class="form-textarea-wrapper"><textarea
                                    data-drupal-selector="edit-in-a-paragraph-or-so-provide-an-overview-of-a-digital-project"
                                    id="edit-in-a-paragraph-or-so-provide-an-overview-of-a-digital-project"
                                    name="in_a_paragraph_or_so_provide_an_overview_of_a_digital_project" rows="5"
                                    cols="60" class="form-textarea required resize-vertical" required="required"
                                    aria-required="true"></textarea></div>
                        </div>
                    </div>
        </fieldset>
        <fieldset data-drupal-selector="edit-skills" id="edit-skills"
            class="js-webform-type-fieldset webform-type-fieldset js-form-item form-item js-form-wrapper form-wrapper">
            <legend> <span class="fieldset-legend">Section 4: Personal and Career Goals</span></legend>

            <div
                class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-provide-a-list-of-the-design-software form-item-provide-a-list-of-the-design-software">
                <label for="edit-provide-a-list-of-the-design-software" class="js-form-required form-required">Outline
                    your personal goals and career objectives
                    in
                    the
                    web development and design industry. *</label>
                <div class="form-textarea-wrapper"><textarea
                        data-drupal-selector="edit-provide-a-list-of-the-design-software"
                        id="edit-provide-a-list-of-the-design-software" name="provide_a_list_of_the_design_software"
                        rows="5" cols="60" class="form-textarea required resize-vertical" required="required"
                        aria-required="true"></textarea></div>
            </div>
            <div
                class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-provide-links-to-any-portfolios-or-social-media-accounts-that-be form-item-provide-links-to-any-portfolios-or-social-media-accounts-that-be">
                <label for="edit-provide-links-to-any-portfolios-or-social-media-accounts-that-be">What do
                    you
                    expect to learn in the Web Development - Front-End Design program? *</label>
                <div class="form-textarea-wrapper"><textarea
                        data-drupal-selector="edit-provide-links-to-any-portfolios-or-social-media-accounts-that-be"
                        id="edit-provide-links-to-any-portfolios-or-social-media-accounts-that-be"
                        name="provide_links_to_any_portfolios_or_social_media_accounts_that_be" rows="5" cols="60"
                        class="form-textarea resize-vertical"></textarea>
                </div>
            </div>

            </div>
        </fieldset>
        </div>
    </fieldset>
    <input data-drupal-selector="edit-antibot-key" type="hidden" name="antibot_key" value="" /><input autocomplete="off"
        data-drupal-selector="form-xc9granrmj933z4zftbip9b3b28sc0tzom-inqf9ymy" type="hidden" name="form_build_id"
        value="form-xC9GRanRmJ933Z4zFTbIP9b3B28Sc0TZOm-InQF9YmY" /><input
        data-drupal-selector="edit-webform-submission-g418-web-development-front-end-d-node-76096-add-form"
        type="hidden" name="form_id" value="webform_submission_g418_web_development_front_end_d_node_76096_add_form" />
    <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
        <div class="button-actions-wrapper"> <input
                class="webform-button--submit button button--primary js-form-submit form-submit"
                data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Submit" />
        </div>
    </div>
    </form>
    </div>
    </div>
    </article>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </main>

    <script src="index.2.js"></script>
</body>

</html>